
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

:root {

  /* Шрифт */
  --font-family-comfortaa: 'Comfortaa', sans-serif;;

  /* Начертание шрифта */
  --font-weight-regular: 400;

  /* Размер шрифта */
  --font-size-xs: 12px;
  --font-size-s: 15px;
  --font-size-m: 16px;
  --font-size-l: 18px;

  /* Цвета */
  --primary-ube: #7c77be80;
  --primary-pure-white: #ffffff;
  --primary-soap: #cccceb;
  --primary-black: #000000;
  --primary-queen-pink: #ebccd1;
  --primary-anti-flash-white: #f3f3f3;
  --primary-royal-purple: #7357ae;
  --primary-blue-bolt: #00affa;
  --primary-rich-electric-blue: #0190cd;
  --primary-soft-blue: #BBC5E0;
  --primary-deep-mauve: #D981C9;
}

body {
  background: url(./assets/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: var(--font-family-comfortaa);
}

.container {
  width: 80%;
  max-width: 37.5em;
  padding: 1.5em 1.5em;
  background-color: var(--primary-pure-white);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.7em;
  box-shadow: 0 10px 65px var(--primary-ube);
}

p {
  font-size: var(--font-size-l);
  background: linear-gradient(
      to right,
      var(--primary-royal-purple) 20%,
      var(--primary-blue-bolt) 30%,
      var(--primary-rich-electric-blue) 70%,
      var(--primary-deep-mauve) 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}